* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  text-align: center;
  align-content: center;
  font-family: sans-serif;
  font-weight: 700;
  font-weight: 2em;
  font-size: large;
  height: 20vh;
}

.footer {
  height: 10vh;
  text-align: center;
  align-content: center;
}
hr {
  background-color: #e7e7e9;
  height: 1px;
  border: none;
}

.create-acc-container {
  display: flex;
  flex-direction: column;
  padding-left: 38vw;
  padding-right: 38vw;
  justify-content: space-around;
  height: 60vh;
  padding-bottom: 10vh;
}

.card-boxes {
  height: 7vh;
  /* width: 10v; */
  border-radius: 0.75em;
  border: 1px solid rgba(23, 23, 23, 0.132);
  box-sizing: border-box;
  padding: 1.2em;
}

.card-boxes {
  display: flex;
  align-items: center;
  position: relative;
}

.card-boxes img {
  position: absolute;
  left: 12px; /* adjust padding */
}

.card-boxes span {
  margin: 0 auto;
}

.box-signup {
  color: white;
  background-color: #a6a7af;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}
